@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}
#root{
    min-height: 900px;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    width: auto;
    height: min-content;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

@media screen and (max-width: 992px)
{
     .main-container{
        margin: 2% 5%;
       } 
}


@media screen and (max-width: 1300px)
{
     .main-container{
        margin-right:5%;
        margin-left:5%;
       }
}
