.headerWrap {
	display: flex;
	justify-content: space-between;
	margin-top: 2%;

&_logo {
    display: flex;
	align-items: flex-start;
	margin: 0;
	width: 9rem;
}

&_ul {   
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 1.5rem;
    color: $primary-color;
    font-size: 1.3rem;
	&:hover {
		text-decoration: underline;
	}
	}
}

@media screen and (max-width: 991px) {

.headerWrap{
    align-items: center;
    margin-top: 10%;

        &_logo{
        width: 15rem;
        }
        &_nav{
            margin: auto;
        }
        &_nav ul{
        display: inline;
        }
        li{
        font-size: 2rem;
        }		
        }
    
    }
