.headerWrap {
	display: flex;
	justify-content: space-between;
	margin-top: 2%;

&_logo {
    display: flex;
	align-items: flex-start;
	margin: 0;
	width: 9rem;
}

&_ul {   
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 1.5rem;
    color: $primary-color;
    font-size: 1.3rem;
	&:hover {
		text-decoration: underline;
	}
	}
}

@media screen and (max-width: 991px) {

.headerWrap{
    margin-top: 0%;
    padding-top: 5%;
    align-items: center;
        &_logo{
        width: 35%;
        }
        &_nav{
            margin: 0;
        }
        &_nav ul{
        display: inline;
        }
        li{
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 1rem;
        }		
        }
    
    }
