.Gallery {
    width: 100%;
    position: relative;
}

.Gallery-container {
	position: relative;
	overflow: hidden;
	height: 415px;
	border-radius: 25px;
    margin-top: 2%;
    
}
.Gallery-picture
{
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	display:none;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.counter_img{
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    color: $tertiary-color;
    top: 90%;
    left:50%
}

.Gallery-picture.active {
	display:block;
}

.Gallery-Chevron__left, .Gallery-Chevron__right {
	display:none;
}
.Gallery-Chevron__left.visible, .Gallery-Chevron__right.visible {
	display:block;
}
.Gallery-Chevron__left img, .Gallery-Chevron__right img {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 160px;
    left: 10px;
    cursor:pointer;
}
.Gallery-Chevron__right img {
    right: 10px;
    left:unset;
}

@media screen and (max-width: 991px) {

    .Gallery-container{
    height: 335px;
    object-position: 50% 50%;
    }
    .Gallery-Chevron__left img {
        width: 40px;
        height: 50px;
    }

    .Gallery-Chevron__right img {
        width: 40px;
        height: 50px;
    }

    .counter_img{
        font-weight: 500;
        font-size: 1.2rem;
        position: absolute;
        color: $tertiary-color;
        top: 90%;
        left:45%
    }
    

}
