@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

#root {
  min-height: 900px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  width: auto;
  height: min-content;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin: 2% 5%;
    /* padding: 0 0.5%; */
  }
}
/*import components*/
.headerWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.headerWrap_logo {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 9rem;
}
.headerWrap_ul {
  text-align: center;
}
.headerWrap li {
  display: inline-block;
  margin-left: 1.5rem;
  color: #ff6060;
  font-size: 1.3rem;
}
.headerWrap li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .headerWrap {
    margin-top: 0%;
    padding-top: 5%;
    align-items: center;
  }
  .headerWrap_logo {
    width: 35%;
  }
  .headerWrap_nav {
    margin: 0;
  }
  .headerWrap_nav ul {
    display: inline;
  }
  .headerWrap li {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 1rem;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.9;
  filter: brightness(50%);
}

.banner {
  position: relative;
  margin: 3% 0;
}

.banner figcaption {
  position: absolute;
  top: 35%;
  bottom: 50%;
  left: 20%;
  color: #F7F7F7;
  font-size: 3rem;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .banner {
    width: 100%;
    height: 150px;
    margin: 0%;
  }
  .banner figcaption {
    font-size: 1.5rem;
    left: 10%;
    /* top: 25%; */
  }
}
.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: #000000;
  flex-direction: column;
  position: relative;
}
.foot-container__text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #F7F7F7;
  width: 100%;
  margin: 2% 0 3% 0;
}
.foot-container img {
  margin-top: 5%;
}

@media screen and (max-width: 991px) {
  .foot-container {
    height: 180px;
    margin: 0;
  }
  .foot-container img {
    height: 2.2rem;
  }
}
.home_CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  width: 100%;
  gap: 60px;
  margin: 30px 0;
  padding: 50px;
  border-radius: 20px;
}

@media screen and (max-width: 991px) {
  .home_CardList {
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 15px;
    background-color: white;
    margin: 0;
  }
}
.card-logement {
  position: relative;
}

.card-logement img {
  height: 320px;
  width: 320px;
  margin: 0;
  border-radius: 15px;
  object-fit: cover;
}

.card-logement__title {
  position: absolute;
  bottom: -5px;
  color: #F7F7F7;
  width: 260px;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .card-logement img {
    height: 400px;
    width: 100%;
  }
  .card-logement__title {
    font-size: 2rem;
  }
  .card-logement__title {
    width: 80%;
    font-size: 1.5rem;
  }
}
.Gallery {
  width: 100%;
  margin: auto;
}

.Gallery img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
  margin-top: 2%;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2%;
}

.collapse-container-heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 1%;
  justify-content: space-between;
  font-size: 1.2rem;
  background: #ff6060;
  border-radius: 5px;
  color: #f7f7f7;
  z-index: 1;
}

.collapse_container__content {
  color: #ff6060;
}

.collapse_container__content {
  background-color: #F7F7F7;
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  top: -35px;
  padding: 40px 15px;
  font-size: 1.2rem;
}

.open {
  display: block;
}

.closed {
  display: none;
}

.unfold {
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}

.fold {
  transform: rotate(180deg);
  transition: 0.2s ease-in-out;
}

/* @import '../components/DropdownSmall/DropdownSmall'; */
/*import page style sheets*/
.notFound_infos_title {
  font-size: 9rem;
  margin: 0;
  color: #ff6060;
}

.notFound_infos_content {
  font-size: 1.3rem;
  color: #ff6060;
}

.notFound_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

a {
  margin-top: 30px;
  color: #ff6060;
}

.about_banner {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.9;
  position: relative;
  margin-top: 3%;
  object-fit: cover;
  height: 188px;
}

.collapse_container_AboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.collapse_container__content {
  margin-top: 1%;
}

@media screen and (max-width: 992px) {
  .about_banner {
    width: 100%;
    height: 1200px;
    margin: 0%;
  }
  .collapse_container_AboutUs {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 80%;
    margin: auto;
  }
  .about_banner {
    height: 150px;
  }
}
.lodging-heading {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.lodging-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lodging-heading-main {
  width: 75%;
}

.lodging-heading-main-location {
  display: flex;
  flex-direction: column;
}

.lodging-heading-main__title {
  font-size: 1rem;
  font-weight: 500;
  color: #ff6060;
}

.lodging-heading-main__location {
  font-size: 1rem;
  color: #ff6060;
  margin-top: 1%;
}

.lodging-heading-main-owner {
  align-items: center;
  font-size: 1rem;
  color: #ff6060;
  margin-top: 10%;
  display: flex;
}

.lodging-subheading-tags {
  display: flex;
  justify-content: space-around;
}

.lodging-subheading-tags-pill {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  margin: 3% 1% 0 0;
  width: 12rem;
  height: 30px;
  color: #f7f7f7;
  background-color: #ff6060;
}

.collapse-container {
  margin: 1% 0;
}

.lodging-heading-main-owner__picture img {
  border-radius: 50%;
  height: 80px;
}

.lodging-subheading__ratings {
  display: flex;
  justify-content: space-around;
  margin-top: 23%;
}

.lodging-subheading__ratings img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.lodging-collapse-container {
  display: flex;
  width: 100%;
}

.lodging-collapse-container__rightColumn {
  margin-right: 30px;
  width: 100%;
}

.lodging-collapse-container__leftColumn {
  margin-left: 30px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .lodging-container {
    flex-direction: column;
  }
  .lodging-heading {
    margin: 0;
  }
  .lodging-heading-main__title h1 {
    font-weight: 400;
  }
  .lodging-subheading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
  }
  .lodging-heading-main-owner {
    display: flex;
    justify-content: end;
    width: 50%;
    margin: 0;
  }
  .lodging-heading-main-owner__name {
    width: 20%;
  }
  .lodging-subheading__ratings {
    margin: 0;
  }
  .lodging-subheading__ratings img {
    height: 25px;
  }
  .lodging-heading-main-owner__picture img {
    height: 50px;
  }
  .lodging-collapse-container {
    display: flex;
    flex-direction: column;
  }
  .lodging-collapse-container__rightColumn {
    margin: 0;
  }
  .lodging-collapse-container__leftColumn {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
