@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

.body {
  max-width: 1440px;
  padding-top: 40px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media screen and (max-width: 992px) {
  .body {
    margin: 3% 3%;
    width: 100%;
  }
}
/*import components*/
.headerWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.headerWrap_logo {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 9rem;
}
.headerWrap_ul {
  text-align: center;
}
.headerWrap li {
  display: inline-block;
  margin-left: 1.5rem;
  color: #ff6060;
  font-size: 1.3rem;
}
.headerWrap li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .headerWrap {
    align-items: center;
    margin-top: 10%;
  }
  .headerWrap_logo {
    width: 300px;
  }
  .headerWrap_nav {
    margin: auto;
  }
  .headerWrap_nav ul {
    display: inline;
  }
  .headerWrap li {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.9;
}

.banner {
  position: relative;
  margin: 3% 0;
}

.banner figcaption {
  position: absolute;
  top: 35%;
  bottom: 50%;
  left: 25%;
  color: #F7F7F7;
  font-size: 3rem;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .banner {
    width: 100%;
    margin: 0 3%;
    height: 260px;
  }
  .banner figcaption {
    font-size: 3.5rem;
    left: 10%;
  }
}
.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: #000000;
  flex-direction: column;
  position: absolute;
}
.foot-container__text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #F7F7F7;
  width: 100%;
  margin: 2% 0 3% 0;
}
.foot-container img {
  margin-top: 5%;
}

@media screen and (max-width: 991px) {
  .foot-container {
    height: 180px;
    margin: 0;
  }
}
.home_CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  width: 100%;
  gap: 60px;
  margin: 30px 0;
  padding: 50px;
  border-radius: 20px;
}

@media screen and (max-width: 991px) {
  .home_CardList {
    flex-direction: column;
    width: 100%;
  }
}
.card-logement {
  position: relative;
}

.card-logement img {
  height: 300px;
  width: 300px;
  margin: 0;
  border-radius: 15px;
}

.card-logement__title {
  position: absolute;
  bottom: -5px;
  color: #F7F7F7;
  width: 260px;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .card-logement img {
    height: 580px;
    width: 700px;
  }
  .card-logement__title {
    font-size: 2rem;
  }
  .card-logement__title {
    width: 450px;
  }
}
.Gallery {
  width: 100%;
  margin: auto;
}

.Gallery img {
  width: 100%;
  height: 400px;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  /*  align-items: center; */
  width: 100%;
  margin: 2%;
}

.collapse-container-heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 1%;
  justify-content: space-between;
  font-size: 1.2rem;
  background: #ff6060;
  border-radius: 10px;
  color: #f7f7f7;
  z-index: 1;
}

.collapse_container__content {
  background-color: #F7F7F7;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  position: relative;
  top: -35px;
  padding: 40px 15px;
}

/* @import '../components/DropdownSmall/DropdownSmall'; */
/*import page style sheets*/
h1 {
  font-size: 9rem;
  margin: 0;
  color: #ff6060;
}

.notFound_infos_content {
  font-size: 1.3rem;
  color: #ff6060;
}

.notFound_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin-top: 30px;
  color: #ff6060;
}

.lodging-heading {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.lodging-heading-main-location {
  display: flex;
  flex-direction: column;
}

.lodging-heading-main h1 {
  font-size: 2rem;
}

.lodging-heading-main__location {
  font-size: 1rem;
  color: #ff6060;
  margin-top: 1%;
}

.lodging-heading-main-owner {
  font-size: 1rem;
  color: #ff6060;
}

.lodging-heading-main-owner {
  display: flex;
}

.lodging-subheading-tags-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #ff6060;
  width: 110px;
  height: 30px;
  color: #f7f7f7;
}

.collapse-container {
  margin: 2% 0;
}

.lodging-heading-main-owner__picture img {
  border-radius: 50%;
  height: 100px;
}

.lodging-subheading {
  display: flex;
  justify-content: space-between;
}

.lodging-subheading__ratings {
  display: flex;
  justify-content: space-around;
}

.lodging-subheading__ratings img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.lodging-collapse-container {
  display: flex;
  width: 100%;
}

.lodging-collapse-container__rightColumn {
  margin-right: 30px;
  width: 100%;
}

.lodging-collapse-container__leftColumn {
  margin-left: 30px;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
