
.collapse_container_main {
    width: 75%;
    margin: auto;
}

@media screen and (max-width: 992px)
{
.collapse_container_main{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    margin: auto;
    padding-top: 5% ;
}

}