.banner img{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	opacity: 0.9;
}

.banner{
	position: relative;
	margin: 3% 0;
}

.banner figcaption{
	position: absolute;
	top: 35%;
	bottom: 50%;
	left: 25%;
	color: $tertiary-color;
	font-size: 3rem;
	font-weight: 500;
}

@media screen and (max-width: 991px) {
	
	.banner{
		width: 100%;
		margin: auto;
	}

    .banner img{
		height: 111px;
	}
	.banner figcaption{
		font-size: 2rem;
		left: 10%;
	}
}