.lodging-heading {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.lodging-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lodging-heading-main {
    width: 75%;
}

.lodging-heading-main-location{
    display: flex;
    flex-direction: column;
}

.lodging-heading-main__title {
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color;
}

.lodging-heading-main__location {
    font-size: 1rem;
    color: $primary-color;
    margin-top: 1%;
}

.lodging-heading-main-owner {
    align-items: center;
    font-size: 1rem;
    color: $primary-color;
    margin-top: 10%;
    display: flex;
}

.lodging-subheading-tags{
    display: flex;
    padding-right: 2%;
}

.lodging-subheading-tags-pill{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3% 1% 0 0;
    width: 14rem;
    height: 25px;
    color: $secondary-color;
    background-color: $primary-color;
}

.collapse-container{
    margin: 1% 0; 
}

.lodging-heading-main-owner__picture img{
    border-radius: 50%;
    height: 60px;
}

.lodging-heading-main__title h1{
    font-weight: 300;

}


.lodging-subheading__ratings{
    display: flex;
    justify-content: space-around;
    margin-top: 23%;
}

.lodging-subheading__ratings img{
    width: 25px;
    height: 25px;
    margin-left:10px ;
}

.lodging-collapse-container
{
    display: flex;
    width: 100%;
}

.lodging-collapse-container__rightColumn{
    margin-right: 30px;
    width: 100%;
}

.lodging-collapse-container__leftColumn{
    margin-left: 30px;
    width: 100%;
}

@media screen and (max-width: 992px)
{

.lodging-subheading-tags-pill{
    font-size: 0.8rem;
    width: 65%;
}

.lodging-container{
    flex-direction: column;
}

.lodging-heading{
    margin: 0;
}

.lodging-heading-main__title h1{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2%;
}

.collapse-container-heading{
    font-size: 1.1rem;
}

.collapse_container__content {
    font-size: 1.1rem;
}

.lodging-subheading{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

.lodging-heading-main-owner{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0;
}


.lodging-heading-main-owner__name{
    width: 20%;
    margin-right: 5%;
}

.lodging-subheading__ratings{

    margin: 0;
}

.lodging-subheading__ratings img{

    height: 25px;
}

.lodging-heading-main-owner__picture img{
    height: 50px;
    margin-left: 15%;
}

.lodging-collapse-container{
    display: flex;
    flex-direction: column;
}

.lodging-collapse-container__rightColumn{
    margin: 0;
}

.lodging-collapse-container__leftColumn{
    margin: 0;
}
}